@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-0{
  background-image: url("../public/images/0.avif");
}
.bg-1{
  background-image: url("../public/images/1.avif");
}
.bg-2{
  background-image: url("../public/images/2.avif");
}
.bg-3{
  background-image: url("../public/images/3.avif");
}
.bg-4{
  background-image: url("../public/images/4.avif");
}
.bg-5{
  background-image: url("../public/images/5.avif");
}
.bg-6{
  background-image: url("../public/images/6.avif");
}
.bg-7{
  background-image: url("../public/images/7.avif");
}
.bg-8{
  background-image: url("../public/images/8.avif");
}
.bg-9{
  background-image: url("../public/images/9.avif");
}

.btn {
    @apply font-bold py-2 px-4 ;
  }

.btn-row {
  @apply  px-4 ;
}

.btn-green {
    @apply bg-emerald-700 text-white;
  }
.btn-chef {
    @apply text-emerald-700;
  }
.btn-book {
    @apply text-sky-700;
  }
.btn-blue {
    @apply bg-sky-700 text-white;
  }
.btn-red {
  @apply bg-rose-700 text-white;
}
.btn-gray {
  @apply bg-slate-700 text-white;
}

.btn-green:hover {
    @apply bg-emerald-900;
}
.btn-red:hover {
  @apply bg-rose-900;
}
.btn-blue:hover {
  @apply bg-sky-900;
}
.btn-gray:hover {
  @apply bg-slate-900;
}
.btn-chef:hover {
    @apply bg-emerald-900 text-white rounded-lg;
  }
.btn-book:hover {
    @apply bg-sky-900 text-white rounded-lg;
  }
