@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-0{
  background-image: url("../public/bg-images/0.avif");
}
.bg-1{
  background-image: url("../public/bg-images/1.avif");
}
.bg-2{
  background-image: url("../public/bg-images/2.avif");
}
.bg-3{
  background-image: url("../public/bg-images/3.avif");
}
.bg-4{
  background-image: url("../public/bg-images/4.avif");
}
.bg-5{
  background-image: url("../public/bg-images/5.avif");
}
.bg-6{
  background-image: url("../public/bg-images/6.avif");
}
.bg-7{
  background-image: url("../public/bg-images/7.avif");
}
.bg-8{
  background-image: url("../public/bg-images/8.avif");
}
.bg-9{
  background-image: url("../public/bg-images/9.avif");
}

.btn {
    @apply font-bold py-2 px-4;
  }
.btn-small {
    @apply font-bold py-1 px-2;
  }
.btn-help {
    @apply text-sm font-bold py-1 px-2 text-fuchsia-600;
  }

.btn-row {
  @apply  px-4 ;
}

.btn-green {
    @apply bg-emerald-700 text-white border-0;
  }
.btn-chef {
    @apply text-emerald-700;
  }
.btn-blue {
    @apply text-sky-700;
  }
.btn-red {
    @apply text-rose-700;
  }
.btn-pink {
    @apply text-fuchsia-500;
  }


.btn-green:hover {
    @apply bg-emerald-900;
  }
.btn-chef:hover {
    @apply bg-emerald-900 text-white border-emerald-900;
  }
.btn-blue:hover {
    @apply bg-sky-900 text-white  border-sky-900;
  }
.btn-red:hover {
    @apply bg-rose-900 text-white border-rose-900 rounded-2xl;
  }
.btn-grey:hover {
  @apply bg-slate-900 text-white border-slate-900 
}
.btn-help:hover {
    @apply bg-fuchsia-700 text-white border-fuchsia-700;
  }
.btn-pink:hover {
  @apply bg-fuchsia-700 text-white border-fuchsia-700;
}
